@page
@model IndexModel
@{
    ViewData["Title"] = "Losvik kommune";
}

<div class="text-center">
    <h1 class="display-none">Losvik kommunes nettsjappe</h1>
    <ul id="products" class="list-unstyled"></ul>
</div>

@section Scripts {
<script>

  function CheckoutProduct(id) {
    const addToCartUrl = 'api/v1/cart/additem'; 
    var body = { ProductId : id };
    console.log(JSON.stringify(body));
    fetch(addToCartUrl, {
        method: 'post',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(body)
        })
      .then(data =>  { window.location = 'checkout'})
      .catch(function(error) {
        console.log(error);
      }); 
  }

  function createNode(element) {
        return document.createElement(element);
    }

    function append(parent, el) {
      return parent.appendChild(el);
    }

  const ul = document.getElementById('products');
  const url = 'api/v1/products'; 
  fetch(url)
    .then((resp) => resp.json())
    .then(function(data) {
      return data.map(function(product) {
        let li = createNode('li'),
            img = createNode('img'),
            span = createNode('span');
            button = createNode('button');
            // '<button id="order-button" type="button" class="btn btn-success">Success</button>';
        img.src = ""; //product.picture.medium;
        span.innerHTML = `${product.name}`;
        
        append(li, img);
        append(li, span);

        // Button
        button.setAttribute("data-id", product.id);
        button.setAttribute('type', 'button');
        button.innerHTML = 'Kj&oslash;p';
        button.className = 'btn btn-info';
        button.addEventListener("click", function () {
          CheckoutProduct(product.id);
        });
        append(li, button);

        append(ul, li);
      })
    })
    .catch(function(error) {
      console.log(error);
    }); 
</script>
}