@page
@model IndexModel
@{
    ViewData["Title"] = "Losvik-kalenderen 2020";
    ViewData["Description"] = "Bestill kalenderen i dag.";
}

<div class="text-center">
    <h1 class="sr-only">Losvik kommunes nettsjappe</h1>
    <div id="spinner" class="spinner-border text-info" role="status">
        <span class="sr-only">Laster...</span>
    </div>
    <ul id="products" class="list-unstyled my-5"></ul>
</div>

@section Scripts {
<script>

  function CheckoutProduct(id) {
    const addToCartUrl = 'api/v1/cart/additem'; 
    var body = { ProductId : id };
    fetch(addToCartUrl, {
        method: 'post',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(body)
        })
      .then(data =>  { window.location = 'checkout'})
      .catch(function(error) {
        console.log(error);
      }); 
  }

  function createNode(element) {
        return document.createElement(element);
    }

    function append(parent, el) {
      return parent.appendChild(el);
    }

  const ul = document.getElementById('products');
  const url = 'api/v1/products'; 
  fetch(url)
    .then((resp) => resp.json())
    .then(function(data) {
      return data.map(function(product) {
        let li = createNode('li'),
            carddiv = createNode('div'),
            cardbodydiv = createNode('div'),
            img = createNode('img'),
            cardtitle = createNode('h5'),
            cardtext = createNode('p');
            button = createNode('button');

        // Card Div
        carddiv.className = "card";  
        cardbodydiv.className = "card-body"; 
        cardtitle.className = "card-title";
        cardtext.className = "card-text";

        img.src = ""; //product.picture.medium;

        cardtitle.innerHTML = `${product.name}`;
        cardtext.innerHTML = `${product.description}`;
        
        // Button
        button.setAttribute("data-id", product.id);
        button.setAttribute('type', 'button');
        button.innerHTML = 'Kj&oslash;p';
        button.className = 'btn btn-info';
        button.addEventListener("click", function () {
          CheckoutProduct(product.id);
        });

        append(li, carddiv);
        append(carddiv, cardbodydiv);
        append(cardbodydiv, cardtitle);
        append(cardbodydiv, cardtext);
        append(cardbodydiv, button);
        append(ul, li);
      })
    })
    .then((none) => {
      var elem = document.querySelector('#spinner');
      elem.parentNode.removeChild(elem);
    }
    )
    .catch(function(error) {
      console.log(error);
    }); 
</script>
}