@page
@model IndexModel
@{
    ViewData["Title"] = "Losvik kommune";
}

<div class="text-center">
    <h1>Bestill</h1>
    <ul id="products"></ul>
</div>

<script>


function createNode(element) {
      return document.createElement(element);
  }

  function append(parent, el) {
    return parent.appendChild(el);
  }

const ul = document.getElementById('products');
const url = 'api/v1/products'; 
  fetch(url)
  .then((resp) => resp.json())
  .then(function(data) {
    return data.map(function(product) {
      let li = createNode('li'),
          img = createNode('img'),
          span = createNode('span');
      img.src = ""; //product.picture.medium;
      span.innerHTML = `${product.name}`;
      append(li, img);
      append(li, span);
      append(ul, li);
    })
  })
  .catch(function(error) {
    console.log(error);
  }); 

</script>