@page
@{
    ViewData["Title"] = "Losvik kommune";
}

<div class="jumbotron bg-light">
  <h1 class="display-4 text-success">Hurra!</h1>
  <p class="lead">Kommunekassen har mottatt betalingen din. Kurt pakker kalenderen i en konvolutt og sender. Etter kaffen, da. </p>
  <p class="lead">Hvis du ikke f&oslash;lger oss på Facebook, s&aring; kan du gjerne det!</p>
    <a class="btn btn-primary btn-lg" href="https://facebook.com/losvikkommune" role="button">Facebook-siden v&aring;r</a>
  </p>
</div>