@page
@{
    ViewData["Title"] = "Losvik kommune";
}

<div class="jumbotron bg-light">
  <h1 class="display-4 text-danger">Noe gikk galt!</h1>
  <p class="lead">Kommunekassen kan ikke se &aring; ha mottatt betalingen din. </p>
  <p class="lead">Hvis du vil fors&oslash;ke p&aring; nytt, s&aring; trykker du p&aring; knappen under.</p>
    <a class="btn btn-primary btn-lg" href="/checkout">Tilbake til betaling</a>
  </p>
</div>