@page
@model PrivacyModel
@{
    ViewData["Title"] = "Personvern";
}
<h1>@ViewData["Title"]</h1>

<p>Losvik kommune drives av Martin Losvik. Losol AS er ansvarlig for personopplysninger som samles inn. Personvernansvarlig er Ole Kristian Losvik</p>
<p>Vi bruker informasjonskapsler:</p>
<ul>
    <li>.Kurts.Kake: lagrer informasjon om sesjonen</li>
    <li>__stripe_mid og __stripe_sid: Lagrer informasjon som er n&oslash;dvendig for &aring; gjennomf&oslash;re betaling hos Stripe uten &aring; lagre kortinformasjon hos oss. </li>
    <li>_ga som brukes av Google Analytics for &aring; se hvordan du bruker sidene.</li>
</ul>
<p>Dersom du betaler med kort vil din e-postadresse overføres til betalingsleverand&oslash;ren Stripe, sammen med produktene du har bestilt. Sjekk deres <a href="https://stripe.com/en-no/privacy">personvernpolitikk</a></p>

